# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###
*.exe
*.swp
*/**/cache/*
*.c
*.json
*.o
*/**/bin/*
*/**/obj/*
*/**/.ionide/*
*/**/zig-cache/*
get_git_hash/
css_minifier/alice.py
